/*
branco: #fcfaf9

cinza: #b6bcc2

azul claro: #8fc8e5

azul semi-escuro:#68b5e7

azul mais escuro: #1376e0
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 3rem;
    padding-top: 10px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.titleLogo{
    color: white;
    font-size: 25px;
}

.homeTitle{
    color: #1376e0;
}


.linkNavBar{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
    gap: 10px;
}

.home{
    height: 90vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 17rem;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.titleContent{
    font-size: 70px;
    color: white;
}

.function{
    font-size: 40px;
    color: white;
}

.contentSpan{
    color: #1376e0;
}

.functionSpan{
    color: #b6bcc2;
}

.buttonContact{
    height: 3rem;
    width: 10rem;
    font-size: 1.5em;
    background-color: #1376e0;
    color: white;
    border-radius: 20px;
    border: none;
    transition: 0.4s;
}

.buttonContact:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

.aboutImageContent{
    height: 600px;
}