/*
branco: #fcfaf9

cinza: #b6bcc2

azul claro: #8fc8e5

azul semi-escuro:#68b5e7

azul mais escuro: #1376e0
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 3rem;
    padding-top: 10px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.titleLogo{
    color: white;
    font-size: 25px;
}

.homeTitle{
    color: #1376e0;
}


.linkNavBar{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
    gap: 10px;
}

.home{
    height: 90vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 17rem;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.titleContent{
    font-size: 70px;
    color: white;
}

.function{
    font-size: 40px;
    color: white;
}

.contentSpan{
    color: #1376e0;
}

.functionSpan{
    color: #b6bcc2;
}

.buttonContact{
    height: 3rem;
    width: 10rem;
    font-size: 1.5em;
    background-color: #1376e0;
    color: white;
    border-radius: 20px;
    border: none;
    transition: 0.4s;
}

.buttonContact:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

.about{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.aboutImageContent{
    height: 400px;
}

.aboutContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: flex-start; */
    width: 90vh;
    gap: 2rem;
}

.aboutHr{
    border-bottom: 1px dashed white;
    width: 60%;
}

.aboutContentFunction{
    color: white;
    font-size: 25px;
}

.aboutH1{
    color: white;
    font-size: 40px;
}

.aboutContentSpan{
    color: #1376e0;
}

.aboutTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.aboutTextContent{
    color: white;
    font-size: 20px;
    width: 60%;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.aboutContentImage{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutContentText{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.aboutContentTextP{
    color: white;
    font-size: 20px;
    width: 60%;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.about-Content{
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}

.aboutContentHR{
    background-color: white;
    color: white;
    width: 70%;
}

.aboutTecnologieContent{
    display: flex;
    flex-direction: column;
   
}

.aboutTecnologieTittle{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    right: 300px;
    display: flex;

    flex-direction: column;
    gap: 15px;
}

.aboutTecnologiePrincipalTittle{
    font-size: 30px;
}

.aboutTecnologieSubtittle{
    font-size: 25px;
}

.aboutTecnologieSubtittle{
    color: white;
}